/* App.css or index.css */
.App {
  display: flex;
  justify-content: center; /* Center horizontally */
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr auto; /* Sidebar takes 1 fraction, campaign cards take remaining */
  gap: 20px; /* Adjust the gap as needed */
}

.campaign-card-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}
